html {
  height: 100%;
}
header {
  border-bottom: 1px solid #ccc;
  display: inline-block !important;
}
header > .inner {
  display: flex;
}
header > .inner > .navbar-nav {
  float: right;
}
header .nav-link {
  color: #333;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 40px !important;
}
header .nav-link:hover {
  color: #84BD00;
}
header .navbar-nav .dropdown-menu-right {
  top: inherit;
}
.navbar-brand img {
  height: 100px;
}

.inline-block {
  display: inline-block;
}

.box-co2-water img {
  width: 80px;
}

footer {
  background: #ddd !important;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover {
  background: #84BD00;
  color: #fff;
}

.sidebar .nav-link {
  color: #333;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  color: #84BD00;
}

a {
  color: #84BD00;
}

nav.navbar {
  border-bottom: 1px solid #dee2e6;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.btn-sidebar-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#sidebar-wrapper {
  position: relative;
}
.btn-sidebar-toggle {
  position: absolute;
  right: -30px;
  z-index: 100;
  background: none;
  padding: 0px;
  border: none;
}
.btn-sidebar-toggle.toggled {
  right: 0px;
}
.btn-sidebar-toggle:before {
  content: " ";
  border-width: 15px;
  border-color: #00000000;
  display: block;
  border-style: solid;
  border-left-color: #8fc218;
}
.btn-sidebar-toggle.toggled:before {
  border-left-color: #00000000;
  border-right-color: #8fc218;
}